<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta charset="utf-8" />
<title>{{ page.title }} &mdash; Creative Commons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
	{% if page.permalink == "/" %}
		<body style="background-color: black; color: white; ">
	{% else %}
		<body>
	{% endif %}
{{ content }}
<br />
	{% include license.html %}
</body>
</html>
