<!DOCTYPE html>
<html lang="en">
<head>

<!-- Facebook open graph metadata -->

<meta property="og:title" content="State of the Commons" />
<meta property="og:url" content="http://stateof.creativecommons.org/intro" />
<meta property="og:image" content="http://stateof.creativecommons.org//img/facebook-sotc1.png"/>
<meta property="og:site_name" content="State of the Commons" />
<meta property="og:description" content="" />

<!-- Twitter card metadata -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:title" content="State of the Commons">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="http://teamopen.cc/img/twitter-sotc1.png">
<meta name="twitter:domain" content="stateof.creativecommons.org">

<meta charset="utf-8" />

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2010376-30', 'auto');
  ga('send', 'pageview');

</script>

<title>{{ page.title }} &mdash; Creative Commons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
	{% if page.permalink == "/" %}
		<body style="background-color: black; color: white; ">
	{% else %}
		<body>
	{% endif %}

{{ content }}
<br />
</body>
</html>
