<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta charset="utf-8" />

<meta http-equiv="refresh" content="URL=http://stateof.creativecommons.org/#{{ page.anchor }}">

<!-- Facebook open graph metadata -->

<meta property="og:title" content="State of the Commons" />
<meta property="og:url" content="http://stateof.creativecommons.org/{{ page.anchor }}" />
<meta property="og:image" content="http://stateof.creativecommons.org/{{ page.fbog-image }}"/>
<meta property="og:site_name" content="State of the Commons" />
<meta property="og:description" content="{{ page.blurb }}" />

<!-- Twitter card metadata -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:title" content="State of the Commons">
<meta name="twitter:description" content="{{ page.blurb }}">
<meta name="twitter:image:src" content="http://teamopen.cc{{ page.tc-image }}">
<meta name="twitter:domain" content="stateof.creativecommons.org">


</head>
<body>
</body>
</html>
