<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta charset="utf-8" />

<meta http-equiv="refresh" content="0;URL=https://stateof.creativecommons.org/#{{ page.anchor }}">

<!-- Facebook open graph metadata -->

<meta property="og:title" content="State of the Commons" />
<meta property="og:url" content="https://stateof.creativecommons.org/{{ page.anchor }}" />
<meta property="og:image" content="https://stateof.creativecommons.org{{ page.fbog-image }}"/>
<meta property="og:site_name" content="State of the Commons" />
<meta property="og:description" content="{{ page.blurb }}" />

<!-- Twitter card metadata -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:title" content="State of the Commons">
<meta name="twitter:description" content="{{ page.blurb }}">
<meta name="twitter:image:src" content="https://stateof.creativecommons.org{{ page.tc-image }}">
<meta name="twitter:domain" content="stateof.creativecommons.org">


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2010376-30', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>
</body>
</html>
