<!DOCTYPE html>
<html lang="en">
<html>
<head>

<!-- Facebook open graph metadata -->

<meta property="og:title" content="State of the Commons" />
<meta property="og:url" content="http://stateof.creativecommons.org/intro" />
<meta property="og:image" content="http://stateof.creativecommons.org//img/facebook-sotc1.png"/>
<meta property="og:site_name" content="State of the Commons" />
<meta property="og:description" content="" />

<!-- Twitter card metadata -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:title" content="State of the Commons">
<meta name="twitter:description" content="">
<meta name="twitter:image:src" content="http://teamopen.cc/img/twitter-sotc1.png">
<meta name="twitter:domain" content="stateof.creativecommons.org">


<meta charset="utf-8" />
<title>{{ page.title }} - Creative Commons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>	
<h1>The State of the Commons</h1>
<a href="/" style="text-decoration: none;" ><div class="headerbutton black">Back to the infographic</div></a>
	{% include socialbuttons.html %}
<div class="container" style="max-width: 800px; ">

{% include list.html %}

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{ content }}
			</div>
		</div>
	</div>
<div class="container-fluid">
	{% include footer.html border="black" %}
</div>
<br />
</body>
</html>


