<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta charset="utf-8" />
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>	
<h1>The State of the Commons</h1>
<a href="/" style="text-decoration: none;" ><div class="headerbutton black">Back to the infographic</div></a>
	{% include socialbuttons.html %}
<div class="container" style="max-width: 800px; ">

{% include list.html %}

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{ content }}
			</div>
		</div>
	</div>
<div class="container-fluid">
	{% include footer.html border="black" %}
</div>
<br />
</body>
</html>


