<!DOCTYPE html>
<html lang="en">
<html>
<head>

<!-- Facebook open graph metadata -->

<meta property="og:title" content="State of the Commons" />
<meta property="og:url" content="https://stateof.creativecommons.org/report/" />
<meta property="og:image" content="https://stateof.creativecommons.org/img/facebook-sotc1.png"/>
<meta property="og:site_name" content="State of the Commons" />
<meta property="og:description" content="Creative Commons licenses are the standard for sharing free content online. The result is greater access to knowledge and culture for everyone, everywhere." />

<!-- Twitter card metadata -->

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@creativecommons">
<meta name="twitter:title" content="State of the Commons">
<meta name="twitter:description" content="Creative Commons licenses are the standard for sharing free content online. The result is greater access to knowledge and culture for everyone, everywhere.">
<meta name="twitter:image:src" content="https://stateof.creativecommons.org/img/twitter-sotc1.png">
<meta name="twitter:domain" content="stateof.creativecommons.org">

<meta charset="utf-8" />


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-2010376-30', 'auto');
  ga('send', 'pageview');

</script>

<title>{{ page.title }} - Creative Commons</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>	
<h1>State of the Commons</h1>
<a href="/" style="text-decoration: none;" ><div class="headerbutton black">Back to the infographic</div></a>
	{% include socialbuttons.html %}
<div class="container" style="max-width: 800px; ">

{% include list.html %}

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				{{ content }}
			</div>
		</div>
	</div>
<div class="container-fluid">
	{% include footer.html border="black" %}
</div>
<br />
</body>
</html>


