<br />
	<div class="row" style="border-top: 2px solid {{ include.border }};" >
		<div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
		<div class="col-xs-8 col-sm-6 col-md-4 col-lg 4">
			<a href="https://donate.creativecommons.org/?utm_campaign=2014fund&utm_source=sotc&utm_medium=web"><img src="/img/heart-blue-114.png" style="display: block; width: 114px; margin-left: auto; margin-right: auto; margin-top: 25px; margin-bottom: 25px; " /></a>
If Creative Commons plays a role in how you use the internet or share your work, <a href="https://donate.creativecommons.org/?utm_campaign=2014fund&utm_source=sotc&utm_medium=web">please consider making a gift to support the organization</a>. Creative Commons licenses will always be free, but they would not exist without your generous support.
			<p style="text-align: center; margin-top: 25px; "><a rel="license" href="https://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/by/4.0/88x31.png" /></a></p>
			<p>Except where otherwise noted, content on this site is licensed under a <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International license</a>.</p>
		</div>
		<div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
	</div>
