---
layout: home
title: State of the Commons
permalink: /
---
<h1>State of the Commons</h1>
<a href="/report/" style="text-decoration: none; "><div class="headerbutton white">Read the full report</div></a>
	{% include socialbuttons.html %}

<div class="container-fluid">
  <div class="row">

   <div class="col-md-offset-4 col-md-4">

{% include list.html %}

    </div>

  </div>
</div>

<div class="container-fluid">
	{% for panel in site.data.panels %}
		{% capture tweet %}https://twitter.com/intent/tweet?source=webclient&amp;text={{ panel.tweet | | replace:' ','%20' }}+stateof.creativecommons.org/{{ panel.anchor }}+%23stateofcc&via=creativecommons{% endcapture %}
		{% capture facebook %}https://www.facebook.com/sharer/sharer.php?u=https://stateof.creativecommons.org/{{ panel.anchor }}{% endcapture %}
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" id="{{ panel.anchor }}">
				<div class="report" style="max-width: 100%; ">
					<img src="{{ panel.img }}" class="reportpanel">
					{% if panel.text %}<div class="reportintrotext">{{panel.text}}</div>{% endif %}
					<div class="hidden-md hidden-lg mobileshare"><strong>share</strong><br /><a href="{{ facebook }}" target="_blank"><img src="/img/facebook-green-small.png"></a> <a href="{{ tweet }}" target="_blank"><img src="/img/twitter-green-small.png"></a></div>
				</div>
			</div>

			<div class="hidden-xs hidden-sm col-md-3 col-lg-3 sidebar">
				<div class="sidebar-box">
					<p><em><strong>{{ panel.tweet }}</strong></em></p>
					<p><a href="{{ facebook }}" target="_blank"><img src="/img/facebook-green-small.png"></a> <a href="{{ tweet }}" target="_blank"><img src="/img/twitter-green-small.png"></a></p>
				</div>
			</div>

		</div>
	{% endfor %}
		<div class="row">
			<div class="hidden-xs hidden-sm col-md-1 col-lg-1"></div>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<h2>Download this infographic</h2>
				<p>
					{% for language in site.data.languages %}
						{% capture downloads %}{% if language.png %}&#160;&#47;&#160;<a href="{{ language.png }}">PNG</a>{% endif %}{% if language.pdf %}&#160;&#47;&#160;<a href="{{ language.pdf }}">PDF</a>{% endif %}{% if language.svg %}&#160;&#47;&#160;<a href="{{ language.svg }}">SVG</a>{% endif %}{% endcapture %}
						{{ language.lang | upcase | replace: ' ', '&#160;' }}&#160;({{ downloads | remove_first: "&#160;&#47;&#160;" }})
					{% endfor %}
				</p>
				<p><a href="http://lemonly.com/">Infographic created by Lemonly</a>.</p>
			</div>
			<div class="hidden-xs hidden-sm col-md-3 col-lg-3 sidebar"></div>
		</div>


	{% include footer.html border="white" %}
</div>
