/*
color palette
green: #60b349
blue: #2ea4bf
*/

a {
    color: #2ea4bf;
}

hr.sotc {
	color: #2ea4bf;
	background-color: #2ea4bf;
	width: 60%;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	}

a:hover {
	color: #2ea4bf;
	}
	
.headerbutton {
	width: 300px;
	text-align: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: #2ea4bf;
	border-radius: 50px;
	border:5px solid #2ea4bf;
	text-decoration: none;
	}

.headerbutton.white:hover {
	border: 5px solid white;
	color: white;
	text-decoration: none !important;
	}
	
.headerbutton.black:hover {
	border: 5px solid black;
	color: black;
	text-decoration: none !important;
	}

h1 {
	color: #60b349;
	text-align: center;
	padding: 10px;
	}

.report {
	background-color: white;
	}
	
.circle {
	margin-top: 200px;
	float: left;
	position: relative;
	text-indent: -9999px;
	border-radius: 50%;
	width: 110px;
	height: 110px;
	margin-right: 19px;
	border: 9px solid #60b349;
	background-repeat: no-repeat;
	background-position: -5px -5px;
	text-align: center;
	}

.circle:hover {
    background-position: -105px -5px;
	text-indent: 0px;
	text-decoration: none !important;
	color: inherit;
	}

.circletext {
	font-size: 90%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 91px;
	}  

.pullquote {
	padding: 10px;
	margin: 10px;
	width: 300px;
	border-radius: 50px;
	border:5px solid #60b349;
	}
	
.pullquote p {
	margin: 10px;
	}

.pullquote img {
	padding-top: 5px;
	}

.sidebar {
	padding: 20px;
	}

.sidebar-box {
	border-radius: 50px;
	border:5px solid #60b349;
	padding: 20px;
	}

.sidebar-box img {
	padding-top: 5px;
	}

