/*
color palette
green: #60b349
blue: #2ea4bf
*/

a {
    color: #2ea4bf;
}

.socialbuttons {
	text-align: center;
	margin-bottom: 10px;
	}

.socialbuttons img {
	margin: 5px;
	}

.reportpanel {
	max-width: 100%;
	}

.reportintrotext {
    color: black !important;
    padding: 1em;
    letter-spacing: 1px;
    text-align: center;
    font-size: 19px;
    max-width: 900px;
}

hr.sotc {
	color: #2ea4bf;
	background-color: #2ea4bf;
	width: 60%;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	}

a:hover {
	color: #2ea4bf;
	}
	
.mobileshare {
	text-align: center;
	color: #60b349;
	}

.mobileshare img {
	padding-top: 5px;
	padding-bottom: 10px;
	}
	
.headerbutton {
	width: 300px;
	text-align: center;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	color: #2ea4bf;
	border-radius: 50px;
	border:5px solid #2ea4bf;
	text-decoration: none;
	}

.headerbutton.white:hover {
	border: 5px solid white;
	color: white;
	text-decoration: none !important;
	}
	
.headerbutton.black:hover {
	border: 5px solid black;
	color: black;
	text-decoration: none !important;
	}

h1 {
	color: #60b349;
	text-align: center;
	padding: 10px;
	}

.report {
	background-color: white;
	}
	
#circles {
	bottom: 0px;
	width: 100%;
	height: 120px;
	padding-top: 15px;
	padding-left: 50px;
	border-top: 2px solid white;
	}

.circle {
	float: left;
	position: relative;
	text-indent: -9999px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-right: 19px;
	border: 9px solid #60b349;
	background-repeat: no-repeat;
	background-position: -5px -5px;
	text-align: center;
	}

.circle:hover {
    background-position: -105px -5px;
	text-indent: 0px;
	text-decoration: none !important;
	color: inherit;
	}

.circletext {
	font-size: 90%;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	height: 91px;
	}  

.heart {
	float: left;
	position: relative;
	text-indent: -9999px;
	width: 114px;
	height: 110px;
	background-repeat: no-repeat;
	background-position: 0px 5px;
	text-align: center;
	background-image: url(/images/heart.png); 
	}

.heart:hover {
    background-position: -114px 5px;
	text-indent: 0px;
	}

.hearttext {
	font-size: 90%;
	text-align: center;
	vertical-align: middle;
	line-height: 91px;
	}  

.pullquote {
	padding: 10px;
	margin: 10px;
	width: 300px;
	border-radius: 20px;
	border:5px solid #60b349;
	background-color: #D8D8D8;
	}
	
.pullquote p {
	margin: 10px;
	}

.pullquote img {
	padding-top: 5px;
	}

.pullquote-mobile {
	width: 100%;
	padding: 10px;
	background-color: #D8D8D8;
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 5px solid #60b349;
	border-bottom: 5px solid #60b349;
	}

.sidebar-box {
	margin-right: 10px;
	border-radius: 20px;
	border:5px solid #60b349;
	padding: 20px;
	background-color: #383838;
	}

.sidebar-box img {
	padding-top: 5px;
	}

